.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  text-align: center;
}
h1,
h2 {
  color: rgba(9, 18, 68, 0.756);
}
.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background-color: #0056b3;
}

.employee-list {
  list-style: none;
  padding: 0;
}

.employee-item {
  background: #f8f9fa;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.add-section {
  margin-top: 20px;
}
.add-employee-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.modal button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}

.employee-list {
  max-height: 300px; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  list-style-type: none;
}

.employee-item {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  max-height: 70%;
  overflow-y: auto;
}

.add-employee-form {
  display: flex;
  flex-direction: column;
}

.add-employee-form input {
  margin: 5px 0;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.border {
  border: 1px solid rgba(128, 128, 128, 0.224);
  border-radius: 4px;
  margin-bottom: 4px;
}
